
.image {
    -fx-background-color: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    -fx-background-radius: 4px;
}

.stackPane {
    -fx-background-radius: 4px;
}

.topBox {
    -fx-background-radius: 4px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

.scroll-bar:horizontal .increment-button ,.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button ,.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar:horizontal .thumb,.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.chart-legend{
    -fx-background-color: transparent;
}

.chart{
    -fx-background-color: transparent;
}
.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}


